<div class="jumbotron" contenteditable="true" style="margin-top: 20px;">
			
		</div>

		<div class="row">
			<div class="col-md-4 column ui-sortable" style="">			
				<div class="box box-element">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> remove</a>
	<span class="drag label label-default ui-sortable-handle"><i class="glyphicon glyphicon-move"></i> drag</span>
	<div class="preview">Text</div>
	<div class="view">
		<h2 contenteditable="true">Heading</h2>
		<p contenteditable="true">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		<p><a class="btn" href="#" contenteditable="true">View details »</a></p>
	</div>
</div>
			</div>
			<div class="col-md-4 column ui-sortable" style="">
				<div class="box box-element">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> remove</a>
	<span class="drag label label-default ui-sortable-handle"><i class="glyphicon glyphicon-move"></i> drag</span>
	<div class="preview">Text</div>
	<div class="view">
		<h2 contenteditable="true">Heading</h2>
		<p contenteditable="true">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		<p><a class="btn" href="#" contenteditable="true">View details »</a></p>
	</div>
</div>
			</div>
			<div class="col-md-4 column ui-sortable" style="">
				<div class="box box-element">
  	<a href="#close" class="remove label label-danger"><i class="glyphicon glyphicon-remove"></i> remove</a>
	<span class="drag label label-default ui-sortable-handle"><i class="glyphicon glyphicon-move"></i> drag</span>
	<div class="preview">Text</div>
	<div class="view">
		<h2 contenteditable="true">Heading</h2>
		<p contenteditable="true">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
		<p><a class="btn" href="#" contenteditable="true">View details »</a></p>
	</div>
</div>
			</div>
		</div>